body {
    margin: 0;
    font-family: "Didot", serif;
    background: #000;
    color: #fff;
}

header {
    background: #000;
    text-align: center;
    padding: 25px 0;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.logo h1 {
    font-size: 34px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #d4af37;
}

.wand {
    width: 38px;
    height: auto;
    filter: drop-shadow(0 0 8px #d4af37);
}

.about {
    text-align: center;
    padding: 30px;
}

.about h2 {
    color: #d4af37;
    font-size: 24px;
    margin-bottom: 10px;
}

.products {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: 35px;
    flex-wrap: wrap;
}

.product {
    background: #111;
    border: 1px solid #d4af37;
    border-radius: 10px;
    width: 200px;
    text-align: center;
    padding: 12px;
}

.product img {
    width: 100%;
    border-radius: 8px;
}

.price {
    font-size: 18px;
    color: #d4af37;
    font-weight: bold;
    margin-top: 6px;
}

footer {
    text-align: center;
    padding: 20px;
    background: #000;
    color: #d4af37;
}
